extends layout.pug

block content
    div.container
        h1.title_create Write an event plan

        if error
            p.error Error! Something went wrong!

        if success
            p.success Event shared!

        form.form(action="/create" method="POST") 
            label Title
            input.input(type="text" name="title")

            label Description
            textarea.input(type="text" name="description") 

            button.btn Share! 