extends layout.pug

block content 
    div.container 
         h1.head_title Event Sharing Website 
       
         a.featured(href='/create ') Share event
         p.bot This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service