doctype html
html(lang="en")
    head
  
        title blog sharing website
        link(rel="stylesheet", href="/static/index.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
    body 
        header.navig 
          h1 
              a(href='/') EVENT SHARING PLATFORM

          nav.nav
               a(href='/blogs') All Events 

        block content

