:root{
    font-size: 18px;
    color: black;
}

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: rgb(0, 0, 255);
}
.featured:hover{
    background: white;
    border: 1px solid black;
    border-radius: 30px;
    
}
.navig{
    font-size: 1.3rem;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 30px;
}

.nav a{
    color: black;
    display:  inline-block;
    padding: 5px 10px;
    font-size: 1.7rem;
    

}
.nav a:hover{
    color: rgb(0, 0, 255);

}
.container {
    max-width: 1100px;
    margin: 0  auto;
    padding: 10px;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.container2 {
    max-width: 1100px;
    margin: 0  auto;
    padding: 10px;
    text-align: center;
}


.head_title{
    padding: 100px 0 30px 0;
    font-size: 3rem;
}

    

.slogan{
    font-style: italic;
    font-size: 1.5rem;
}
.featured{
    display: inline-block;
    padding: 30px 60px;
  
    color: white;
    margin: 20px;
    font-size: 1.5rem;
    border-radius: 30px;
    background: blue;
    transition: 0.8s;
}

/*/ create home page /*/

.title_create{
    font-size: 3rem;
}

.form{
    max-width: 60%;
    margin: 10px; 
}

.input{
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 1.3rem;
    font-family: inherit;
    border: 1px solid black;
    margin: 10px;
}

.btn{
 
    display: inline-block;
    background: blue;
    color: white;
    font-size: 1.3rem;
    border: none;
    border-radius: 30px;
    padding: 25px 50px;
    font-family: inherit;
    justify-content: center;
    align-items: center;
    transition: 0.8s;;
   
}

.btn:hover{
    background: white;
    border: 1px solid black;
    border-radius: 30px;
    color:blue;
}


.bloggs{
    margin-left: 200px;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    border: 1px solid black;
    border-radius:10px;
    margin-top: 10px;
    transition: 0.5s;
    font-size: 1.5rem;
    
    
}

.bloggs:hover{
    background:rgb(47, 47, 252);
    color: white;
}
.blog{
    font-size: 1.3rem;
}
.delete{
    display: inline-block;
    padding: 5px 10px;
    background: rgb(252, 23, 23);
    color:white;
    border-radius: 5px;
}

.error {
    display: inline-block;
    padding: 10px;
    border: 1px solid red;
    border-radius: 20px;
    font-size: 1.2rem;
    color: red;
    margin: 10px;
}

.success{
    display: inline-block;
    padding: 10px;
    border: 1px solid green;
    font-size: 1.2rem;
    color: green;
    margin: 10px;
    border-radius: 20px;
}

.bot {
    color:rgba(0,0, 0, 0.3);
    font-size: 0.7rem;
}